<header>
    <div class="container">
        <a href="" class="logo"> EXPRESS<span class="green-text">
                PROJECT DETAILS
            </span></a>


        <nav>
            <ul>
                <li>
                    <a href="/">HOME</a>
                </li>
                <li><a href="./projectDetails">PROJECT DETAILS</a>
                </li>

            </ul>
        </nav>
    </div>
</header>